:root {
    --grey: #C9C9C9;
    --orange: #EE7722;
    --black: #000;
    --fuente1: "Darumadrop One", sans-serif;
    --fuente2: "Unbounded", sans-serif;
    --fuente3: "Yuji Boku", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #0a0a0a;
}
/*------------ header --------------*/

@media only screen and (max-width: 575px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        display: none;
    }
    .menu-responsive {
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--black);
        list-style: none;
        padding-top: 100px;
        font-family: var(--fuente1);
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .menu-responsive li{
        margin: 10px 0;
    }
    .menu-responsive img {
        width: 200px;
        padding-top: 50px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .menu-item {
        font-size: 45px;
        color: white;
        text-decoration: none;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-item:hover {
        color: var(--orange);
    }

    .menu-item.show {
        opacity: 1;
        transform: translateY(0);
    }
    .btn-hamburger {
        z-index: 100;
        padding: 4px;
        border: none;
        background: none;
        cursor: pointer;
    }
      
    .close-icon {
        display: none;
    }
      
    .show-menu {
        transform: translateY(0);
    }
    .close-icon {
        display: none;
    }
    .menu-open {
        overflow: hidden;
    }
}


@media only screen and (max-width: 768px) {
    .header .logo-img {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (min-width: 576px) {
    .header .navbar-movil {
        display: none;
    }
    .menu-responsive, .btn-hamburger {
        display: none;
    }
}

.header {
    outline: none; 
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 120px;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: var(--fuente2);
}
.header .navbar a:hover {
    border-bottom: 0.1rem solid;
    padding-bottom: 0.5rem;
    color: var(--orange);
}

.iconos{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
}

.header .icons div {
    color: black;
    cursor: pointer;
    font-size: 4rem;
    margin-left: 2rem;
    transition: ease 0.2s;
}
.header img {
    margin-left: 30px;
    margin-top: 15px;
}
.header .icons div:hover{
    color: black;
}


/*------------------ container -------------------*/

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(255, 103, 1, 0.3);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
    margin-bottom: 60px;
}

.item::before {
    content: "If you have any problem, do not hesitate to tell us.";
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-48%, -50%);
    font-size: 23px; 
    color: white; 
    z-index: 10; 
    text-align: center; 
    font-family: var(--fuente2);
}

/*Relleno izq*/
.contact{
    background: white;
}

.texto{
    color: black;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 35px;
    font-family: "Darumadrop One", sans-serif;
}

.img{
    width: 320px;
    height: 320px;
    margin-left: 50px;
}

.redes{
    margin-top: 20px;
}

.social-media{
    display: flex;
    list-style: none;
    padding: 5px;
    padding-left: 17px;
    border-radius: 5px;
    transition: 0.3s;
    align-items: center;
    justify-content: space-evenly;

}

.texto-dos{
    font-weight: 500;
    color: black;
    padding-left: 20px;
    font-family: "Darumadrop One", sans-serif;
}


/*Parte derecha*/

.submit-form{
    background-color: #ee7722;
}


.cabecera{
    font-size: 25px;
    position: relative;
    top: 15px;
    left: 20px;
    padding-top: 10px;
    color: #fff;
    font-family: "Darumadrop One", sans-serif;
}

form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.celdas{
 width: 100%;
 height: 100%;   
}

.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

.input{
    width: 145%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
    
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    font-family: "Unbounded", sans-serif;

}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #ee7722; /*Cambia cundo clicas*/
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
    padding-top: 5px;
}

.btn{
    position: relative;
    top: 100px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: #ee7722;
    cursor: pointer;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;

}


/*------------------ footer -------------------*/

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
    .footer .logo-footer {
        padding-bottom: 30px;
    }
    .footer .info-footer {
        display: flex;
        flex-direction: column;
    }
    .footer .social-media {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 769px) {
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;
        gap: 100px;
    } 
    .footer .credit {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer .footer-central .info-footer {
        display: flex;
        flex-direction: column;
    }
}

.footer .info-footer {
    font-family: var(--fuente2);
    font-weight: 700;
    gap: 8px;
    word-spacing: 5px;
}
    
.footer {
    width: 100%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer .social-media a, .footer .info-footer a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.footer .social-media a:hover {
    transform: scale(1.2);
}

.footer .info-footer a {
    font-size: 25px;
}
.footer .info-footer a:hover {
    color: #C9C9C9;
}

.footer .credit { 
    font-family: var(--fuente1);
    font-weight: 700;
}

.footer .social-credit a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
    font-family: var(--fuente2);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.footer .social-credit a:hover {
    color: #C9C9C9;
}

.politicas{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}