:root {
    --grey: #C9C9C9;
    --orange: #EE7722;
    --black: #000;
    --fuente1: "Darumadrop One", sans-serif;
    --fuente2: "Unbounded", sans-serif;
    --fuente3: "Yuji Boku", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #0a0a0a;
}
/*------------ header --------------*/
@media only screen and (max-width: 575px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        display: none;
    }
    .menu-responsive {
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--black);
        list-style: none;
        padding-top: 100px;
        font-family: var(--fuente1);
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .menu-responsive li{
        margin: 10px 0;
    }
    .menu-responsive img {
        width: 200px;
        padding-top: 50px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .menu-item {
        font-size: 45px;
        color: white;
        text-decoration: none;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-item:hover {
        color: var(--orange);
    }

    .menu-item.show {
        opacity: 1;
        transform: translateY(0);
    }
    .btn-hamburger {
        z-index: 100;
        padding: 4px;
        border: none;
        background: none;
        cursor: pointer;
    }
      
    .close-icon {
        display: none;
    }
      
    .show-menu {
        transform: translateY(0);
    }
    .close-icon {
        display: none;
    }
    .menu-open {
        overflow: hidden;
    }
}


@media only screen and (max-width: 768px) {
    .header .logo-img {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (min-width: 576px) {
    .header .navbar-movil {
        display: none;
    }
    .menu-responsive, .btn-hamburger {
        display: none;
    }
}

.header {
    outline: none; 
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 120px;
}
.header .navbar a {
    margin: 0 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: var(--fuente2);
    position: relative;
    padding-bottom: 5px;
}

.header .navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1.5px; 
    background-color: var(--orange); 
    transition: width 0.3s ease; 
}

.header .navbar a:hover::before {
    width: 100%; 
}

.header .navbar a:hover {
    color: var(--orange);
}

.iconos{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
}

.header .icons div {
    color: black;
    cursor: pointer;
    font-size: 4rem;
    margin-left: 2rem;
    transition: ease 0.2s;
}
.header img {
    margin-left: 30px;
    margin-top: 15px;
}
.header .icons div:hover{
    color: black;
}

/*------------------ main -------------------*/

.container h1{
    font-family: var(--fuente2);
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.oferta{
    color: #fff;
    font-family: var(--fuente2);
    max-width: 1500px;
    margin: 0 auto;
}

.oferta b {
    color: var(--orange);
}

.oferta-banner {
    max-width: 100%;
    height: 270px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.oferta-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../imgJoinUs/pexels-zhangkaiyv-3603453.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
.oferta h2 {
    font-weight: 700;
    color: var(--orange);
    font-size: 30px;
}

.puntos{
    color: #fff;
    margin-left: 60px;
    line-height: 25px;
}
.selection-formulario {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.selection-process, .formulario {
    width: calc(45% - 10px);
}
.selection-process h3 {
    color: var(--orange);
    font-size: 25px;
    margin-bottom: 15px;
    
}
.selection-process {
    text-align: justify;
    line-height: 25px;
    color: #fff;
    font-family: var(--fuente2);
}

.selection-process b {
   color: var(--orange);
}

.selection-process .svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selection-process .svg h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--fuente1);
    word-spacing: 6px;
}

/*------ formulario -------*/
.formulario {
    color: #fff;
    max-width: 700px;
    background-color: #EE7722;
    padding: 30px;
    font-family: var(--fuente2);
    border-radius: 10px;
    max-height: 830px;
}
.formulario h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    font-weight: 700;
}
.formulario legend {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.formulario fieldset {
    border: none;
    margin-bottom: 15px;
    font-size: 20px;
}
.formulario label {
    font-size: 15px;
}
.formulario label#text {
    margin-bottom: 5px;
}
.formulario label p {
    margin-bottom: 5px;
}
.formulario select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: var(--fuente2);
    font-weight: 300;
    outline: var(--orange);
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
}
.formulario select option {
    border: none;
}
.formulario input {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px; 
}
.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
}

.input-group {
    display: flex;
    gap: 10px;
}
.input-group label {
    flex-grow: 1; 
}

.input-group input {
    flex-grow: 2;
}

.formulario textarea {
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    color: var(--black);
    font-size: 15px;
}

.formulario input[type=submit] {
    background-color: #0a0a0a;
    color: #fff;
    font-family: var(--fuente2);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s ease;
    border: #000 2px solid;
    margin-top: 10px;
}

.formulario input[type=submit]:hover {
    background-color: #C9C9C9;
    color: var(--black);
    font-family: var(--fuente2);
    border: #000 2px solid;
    scale: 1.02;
}

.formulario .languajes label {
    display: flex;
    align-items: center;
    font-size: 14px
}
.formulario .languajes p {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.formulario input[type=checkbox] {
    margin-top: 8px;
    margin-right: 3px;
}
.formulario .application {
    display: flex;
    flex-direction: column;
}
.formulario .agree a {
    color: #000;
}
/*------------------ footer -------------------*/

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
    .footer .logo-footer {
        padding-bottom: 30px;
    }
    .footer .info-footer {
        display: flex;
        flex-direction: column;
    }
    .footer .social-media {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 769px) {
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;
        gap: 100px;
    } 
    .footer .credit {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer .footer-central .info-footer {
        display: flex;
        flex-direction: column;
    }
}

.footer .info-footer {
    font-family: var(--fuente2);
    font-weight: 700;
    gap: 8px;
    word-spacing: 5px;
}
    
.footer {
    width: 100%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer .social-media a, .footer .info-footer a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.footer .social-media a:hover {
    transform: scale(1.2);
}

.footer .info-footer a {
    font-size: 25px;
}
.footer .info-footer a:hover {
    color: #C9C9C9;
}

.footer .credit { 
    font-family: var(--fuente1);
    font-weight: 700;
}

.footer .social-credit .enlace {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
    font-family: var(--fuente2);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.footer .social-credit .enlace:hover {
    color: #C9C9C9;
}

.politicas{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}