
:root {
    --grey: #C9C9C9;
    --orange: #EE7722;
    --black: #000;
    --fuente1: "Darumadrop One", sans-serif;
    --fuente2: "Unbounded", sans-serif;
    --fuente3: "Yuji Boku", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #0a0a0a;
}

/*letras*/


h2{
    margin-bottom: 15px;
    font-family: var(--fuente1);
}

a{
    text-decoration: none;
    color: #fff;
}

.texto {
    margin-left: 30px;
    text-decoration: none;
    font-family: var(--fuente2);
    line-height: 25px;
}

.color {
    color: #EE7722;
}

.categorias {
    min-width: 300px;
    height: 85vh;
    background: #ee7722;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 60px;
    position: fixed;
}


.separaciones{
    padding-left: 290px;
}


#tablas {
    margin-left: 170px;
    
}

.tabla {    
    width: 95%;
    border-collapse: collapse;
   
}

.tabla th {
    padding-right: 5px;
    font-size: 20px;
    text-align: left;
    color: var(--orange);
}
.tabla td {
    text-align: left;
    color: white;
    gap: 10px;
    padding-bottom: 10px;
}

.tabla th, .tabla td {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
    color: white;
}

.btn {
    width: auto; 
    height: 60px; 
    background-color:  #2c2c2c; 
    color: #fcf8f8;
    cursor: pointer;
    text-align: center; 
    line-height: 20px; /* Centra el icono verticalmente */
    border-radius: 20px;
    font-family: var(--fuente1);
    font-size: 24px;
    border: none;
}

.btn:hover {
    background-color:  #3d3d3d; 
}

#bajar{
    display: none;
}

.main {
    display: flex;
    max-width: 100%;
    border-radius: 10px;
}

/* Barra lateral de navegación */

.botones {
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 850px;
}


/* Estilos para el panel principal */
.panel {
    flex-grow: 1; 
    padding: 1rem;
    margin-top: 35px;
    margin-left: 10px;  
}

.titulo {
  display: block; 
  width: 95%; 
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #ee7722;
  font-family: var(--fuente1);
  
}


@media (max-width: 768px) {
    .categorias {
        min-width: 300px;
        height: 85vh;
        background: #ee7722;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 60px;
        position: fixed;
    }
    
}
