
:root {
    --grey: #C9C9C9;
    --orange: #EE7722;
    --black: #000;
    --fuente1: "Darumadrop One", sans-serif;
    --fuente2: "Unbounded", sans-serif;
    --fuente3: "Yuji Boku", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #0a0a0a;
}

/*letras*/


h2{
    margin-bottom: 15px;
    font-family: var(--fuente1);
}

a{
    text-decoration: none;
    color: #fff;
}

.texto {
    margin-left: 30px;
    text-decoration: none;
    font-family: var(--fuente2);
    line-height: 25px;
}

.color {
    color: #EE7722;
}

.main {
    display: flex;
    max-width: 100%;
    border-radius: 10px;
}

/* Barra lateral de navegación */

.categorias {
    min-width: 300px;
    height: 100%;
    background: #ee7722;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
}

.categorias h3 {
    font-family: var(--fuente2);
    font-size: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}

.img-panel {
    background-color: #dadada;
    padding: 10px 12px;
    border-radius: 40px;
    margin-top: 40px;
}


.botones {
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 50px;
    margin-top: 50px;
}

.btn {
    width: auto; 
    height: 50px; 
    background-color:  #000000; 
    color: #fcf8f8;
    cursor: pointer;
    text-align: center; 
    line-height: 20px; 
    font-family: var(--fuente2);
    font-size: 15px;
    border: none;
}

.btn:hover {
    background-color:  #3d3d3d; 
}

.btn-logout {
    outline: none;
    border: none;
    background-color: #C9C9C9;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--fuente2);
    font-weight: 700;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 5px;
}
.btn-logout:hover {
    color: var(--orange);
}


#bajar{
    display: none;
}

/* Estilos para el panel principal */
.panel {
    flex-grow: 1; 
    padding: 1rem;
    margin-top: 35px;
    margin-left: 10px;  
}
.separaciones{
    padding-left: 290px;
}

.titulo {
  display: block; 
  width: 95%; 
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  border-bottom: 2px solid #ee7722;
  font-family: var(--fuente2);
  
}

/* Estilos tablas*/

.tabla {    
    width: 95%;
    border-collapse: collapse;
   
}

.tabla th {
    padding-right: 5px;
    font-size: 20px;
    text-align: left;
    color: var(--orange);
}
.tabla td {
    text-align: left;
    color: white;
    gap: 10px;
    padding-bottom: 10px;
}

.tabla th, .tabla td {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
    color: white;
}

