:root {
    --grey: #C9C9C9;
    --orange: #EE7722;
    --black: #000;
    --fuente1: "Darumadrop One", sans-serif;
    --fuente2: "Unbounded", sans-serif;
    --fuente3: "Yuji Boku", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%; 
}

body {
    background-blend-mode: multiply;
    background-size: cover; 
    background-repeat: no-repeat; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), #0a0a0a;
}
/*------------ header --------------*/
@media only screen and (max-width: 575px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        display: none;
    }
    .menu-responsive {
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--black);
        list-style: none;
        padding-top: 100px;
        font-family: var(--fuente1);
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .menu-responsive li{
        margin: 10px 0;
    }
    .menu-responsive img {
        width: 200px;
        padding-top: 50px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .menu-item {
        font-size: 45px;
        color: white;
        text-decoration: none;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-item:hover {
        color: var(--orange);
    }

    .menu-item.show {
        opacity: 1;
        transform: translateY(0);
    }
    .btn-hamburger {
        z-index: 100;
        padding: 4px;
        border: none;
        background: none;
        cursor: pointer;
    }
      
    .close-icon {
        display: none;
    }
      
    .show-menu {
        transform: translateY(0);
    }
    .close-icon {
        display: none;
    }
    .menu-open {
        overflow: hidden;
    }
}


@media only screen and (max-width: 768px) {
    .header .logo-img {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (min-width: 576px) {
    .header .navbar-movil {
        display: none;
    }
    .menu-responsive, .btn-hamburger {
        display: none;
    }
}

.header {
    outline: none; 
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 120px;
}

.header .navbar a {
    margin: 0 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: var(--fuente2);
    position: relative;
    padding-bottom: 5px;
}

.header .navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1.5px; 
    background-color: var(--orange); 
    transition: width 0.3s ease; 
}

.header .navbar a:hover::before {
    width: 100%; 
}

.header .navbar a:hover {
    color: var(--orange);
}

.iconos{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
}

.header .icons div {
    color: black;
    cursor: pointer;
    font-size: 4rem;
    margin-left: 2rem;
    transition: ease 0.2s;
}
.header img {
    margin-left: 30px;
    margin-top: 15px;
}
.header .icons div:hover{
    color: black;
}

.btn-carrito {
    background: none;
    border: none;
    cursor: pointer;
}

.burgers-section {
    max-width: 100%;
    height: 270px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgers-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../imgOrderNow/pexels-edwardeyer-1247755.jpg);
    background-size: cover;
    background-position: center 70%; 
    opacity: 0.7; 
    z-index: -1; 
}

.burgers-section h1 {
    font-family: var(--fuente2);
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    position: relative; 
    z-index: 1; 
}


/*------------ navbar menu ---------*/
.navbar-menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-family: var(--fuente2);
    font-size: 18px;
    border: 2px solid var(--grey);
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-menu a:hover {
    border: 2px solid var(--orange);
    color: var(--black);
    background-color: var(--orange);
}

/*-------- tabla carrito -------*/
.tabla-carrito {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: var(--fuente2);
    margin-top: 40px;
}

.tabla {
    width:45%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    margin-bottom: 8px;
    empty-cells: hide;
    border-radius: 10px;
    background: #ee7722;
}

.titulo-tabla {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tabla-carrito th, td, tr {
    border: 2px solid var(--black);
    padding: 14px;
    font-size: 14px;
}

.tabla-carrito td {
    text-align: center;
}

/* -----carrito------ */

.modal-carrito {
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0; 
    right: -350px;
    transition: 100ms ease-in-out;
    background-color: var(--orange);
    z-index: 999;
    font-family: var(--fuente2);
}

.modal-content-carrito {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    margin: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modal-carrito .terms {
    margin: 20px;
    font-size: 12px;
    text-align: center;
}

.modal-carrito .terms a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.modal-carrito.active {
    right: 0;
}
.modal-carrito .close-button-modal {
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 20px;
    background-color: #000000;
    padding: 1px 7px;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-carrito .close-button-modal:hover {
    background-color: #00000062;
}


#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 10;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
.list-group {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbcbc6d;
}

.list-group p {
    margin-bottom: 10px;
    font-size: 15px;
}
.countproduct {
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    background-color: #fff;
    border-radius: 15px;
    width: 25%;
    align-items: center;
}

.countproduct button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-vaciar {
    border: none;
    background: none;
    padding: 10px 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-vaciar svg:hover {
    color: #fff;
}
.carrito-next {
    display: flex;
}

.carrito-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 20px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 0 4px;
    transition: .2s ease;
}

.carrito-footer:hover {
    color: var(--orange);
}

/*---------------- main --------------------*/
/*-------- burgers -----------*/
.burgers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: -10px;
}
.starters-grid, .milkshakes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.desserts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
    .burgers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    .starters-grid, .milkshakes-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    .desserts-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .burgers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        margin: 0 10px;
    }

    .starters-grid, .milkshakes-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin: 0 10px;
    }
    .desserts-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin: 0 10px;
    }
}
@media only screen and (max-width: 425px) {
    .burgers {
        display: flex;
        flex-direction: column;
    }

    .starters-grid, .milkshakes-grid {
        display: flex;
        flex-direction: column;
    }
    .desserts-grid {
        display: flex;
        flex-direction: column;
    }
    .navbar-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
    }
    .navbar-menu a {
        width: 85%;
        display: flex;
        justify-content: center;
    }
    .burger-desription {
        font-size: 13px;
    }
}

.grid-container {
    max-width: 1500px; 
    margin: 0 auto; 
}
.grid-container h2 {
    color: var(--orange);
    font-family: var(--fuente1);
    font-size: 50px;
    text-transform: uppercase;
}

.burger1 {
    max-width: 400px;
    max-height: 235px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    font-family: var(--fuente2);
    background-color: #1f1f1f;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px solid var(--orange);
}

.burger1:hover {
    background-color: #2d2d2d;
}

.burger1 p {
    color: var(--orange);
    max-width: 100%;
}

.burger1 img {
    width: 150px;
    mask-image: radial-gradient(circle, #2d2d2d 65%, transparent);
}
.burger1 .img-fuji, .burger1 .img-sakura {
    width: 135px;
}

.burger1 .img-katsu, .burger1 .img-nakama {
    width: 145px;
}

.burger1 .img-emmy {
    width: 125px;
}
.burger1 .img-tokyo {
    width: 150px;
}

.burger-left {
    margin: 15px;
    overflow: hidden;
}

.burger-left .cantidad {
    margin-top: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.burger-left .cantidad .cantidad-numero {
    color: var(--grey);
}

.burger-left .cantidad button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.burger-left .cantidad .add-cart {
    margin-left: 10px;
}

.add-cart {
    background: none;
    outline: none;
    border-radius: 17px;
    border: 0;
    padding: 3px;
    cursor: pointer;
}


.burger-left .burger-desription {
    padding: 12px 0;
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 14px;
}

.burger-left .price {
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 10px;
}

.burger-left h2 {
    font-size: 20px;
    color: #fff;
}

.burger-right {
    margin-right: 10px;
}

/*------ desserts ------*/

.go-top {
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}
.go-top svg {
    transition: ease .3s;
}
.go-top svg:hover {
    transform: scale(1.1);
    color: #fff;
}

/*------------------ footer -------------------*/

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
    .footer .logo-footer {
        padding-bottom: 30px;
    }
    .footer .info-footer {
        display: flex;
        flex-direction: column;
    }
    .footer .social-media {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 769px) {
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;
        gap: 100px;
    } 
    .footer .credit {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer .footer-central .info-footer {
        display: flex;
        flex-direction: column;
    }
}

.footer .info-footer {
    font-family: var(--fuente2);
    font-weight: 700;
    gap: 8px;
    word-spacing: 5px;
}
    
.footer {
    width: 100%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer .social-media a, .footer .info-footer a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.footer .social-media a:hover {
    transform: scale(1.2);
}

.footer .info-footer a {
    font-size: 25px;
}
.footer .info-footer a:hover {
    color: #C9C9C9;
}

.footer .credit { 
    font-family: var(--fuente1);
    font-weight: 700;
}

.footer .social-credit a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.3s;
    font-family: var(--fuente2);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.footer .social-credit a:hover {
    color: #C9C9C9;
}

.politicas{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}
